/*css template*/

/*s*/








/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
/*@media only screen and (min-width : 320px) {
    
}*/

/* Extra Small Devices, Phones */ 
/*@media only screen and (min-width : 480px) {

}*/

/* Small Devices, Tablets */
/*@media only screen and (min-width : 768px) {

}*/

/* Medium Devices, Desktops */
/*@media only screen and (min-width : 992px) {

}*/

/* Large Devices, Wide Screens */
/*@media only screen and (min-width : 1200px) {

}*/



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
/*@media only screen and (max-width : 1200px) {

}*/

/* Medium Devices, Desktops */
/*@media only screen and (max-width : 992px) {

}*/

/* Small Devices, Tablets */
/*@media only screen and (max-width : 768px) {

}*/

/* Extra Small Devices, Phones */ 
/*@media only screen and (max-width : 480px) {

}*/

/* Custom, iPhone Retina */ 
/*@media only screen and (max-width : 320px) {
    
}*/

/*html, body {
  height: 100%;
}*/

html,body{ /*background: black;*/

}

img {
	  width: 100%;
}
.navbar{
	    margin-bottom: 0px !important;
}




a.navbar-brand {
	               width: 80px;
	               padding: 6px;
	               /*margin: 0 auto;*/
	               float: left;
	               margin-bottom: 10px;
}

#bs-example-navbar-collapse-1{
								font-size: 17px;}



/*scroll menu*/

.white-box {
  					position: relative;
}

/*.white_box a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 70%;
  border-radius: 6px;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 80%,rgba(0,0,0,.6) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 80%,rgba(0,0,0,.6) 100%);
}*/

.white_box a {
				  position: absolute;
				  bottom: -15%;				  				  
				  left: 50%;
				  z-index: 3;
				  -webkit-transform: translate(-50%, -50%);
				  transform: translate(-50%, -50%);
				  color: #fff;
				  opacity: .75;
  
  
}
/* .white_box a{
    background: rgba(225, 243, 249) 20%;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    height: 50px;
    width: 110px;
    line-height: 60px;
    margin: 25px 25px;
    text-align: center;
    border-radius: 6px;
    transition: all 0.3s ease 0s;*/
}

.white_box a:hover {
  						background: #E0FFFF;
}


.blue-box {
  				position: relative;
}
.blue_box a {
				  
				  color: #fff;
			}
/*.white_box a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 70%;
  border-radius: 6px;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 80%,rgba(0,0,0,.6) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 80%,rgba(0,0,0,.6) 100%);
}*/
 #section08{
 	
		 	    margin-top: 270px;
		        text-align: right;
 }

 @media screen and (max-width: 991px){
									 	#section08{
											 	    margin-top: 20px;
											        text-align: center;
								 				   }
									 }

#section09{
 	
		 	    /*margin-top: 270px;*/
		        text-align: center;
 }
@media screen and (max-width: 991px){
									 	#section09{
											 	    margin-top: 20px;
											        text-align: center;
								 				   }
				 				   #footerContainer{ background-color: black;
				 				   					 width: 100% !important;
				 				   					 
									 }
				 				   }
 
 @media screen and (max-width: 1199px){
									 	#sizes {											 	   
													top:364px;
													left: 389px;
													border-radius: 5px;
													text-align: center;
												}

										#sizes .fa{											 	    	
													
													
													right: -241px;
												}
													}

@media screen and (max-width: 991px){
									 	#sizes {											 	    	
													
													top:244px;
													left: 291px;
													border-radius: 5px;
													text-align: center;
												}
										#sizes .fa{											 	    	
													
													
													right: -141px;
												}
													}	

@media screen and (max-width: 768px){

									 	#footerContainer {
														margin-left: 0;
														margin-right: 0;
														width: 100% !important;
												}
													}

@media screen and (max-width: 700px){
									 	#sizes {											 	    	
													
													top:198px;
													left: 250px;
													border-radius: 5px;
													text-align: center;
													
												}
										#sizes .fa{											 	    	
													
													
													right: -141px;
												}
													}		


@media screen and (max-width: 577px){
									 	#sizes {											 	    	
													
													top:156px;
													left: 210px;
													border-radius: 5px;
													text-align: center;
													font-size:25px;
												}
										#sizes .fa{											 	    	
													
													
													right: -101px;
													font-size:20px;
												}
										.white_box a {
													  position: absolute;
													  bottom: 17%;				  				  
				      
													}
													}

@media screen and (max-width: 499px){
									 	#sizes {											 	    	
													
													top:150px;
													left: 198px;
													border-radius: 5px;
													text-align: center;
													font-size:25px;
												}
										.white_box a {
													  position: absolute;
													  bottom: 17%;				  				  
				      
													}
													}

@media screen and (max-width: 440px){
									 	#sizes {											 	    	
													
													top:100px;
													left: 150px;
													border-radius: 5px;
													text-align: center;
													font-size:20px;
												}
									.white_box a {
													  position: absolute;
													  bottom: 17%;				  				  
				      
													}
													}
@media screen and (max-width: 320px){
									 	#sizes {											 	    	
													top:75px;
													left: 107px;
													border-radius: 5px;
													text-align: center;
													font-size:15px;
												}
									#sizes .fa{											 	    	
													
													top:100px;
													right: -100px;
												}

													}


.blue-box a {
				  position: absolute;
				  
				  z-index: 3;
				  -webkit-transform: translate(-50%, -50%);
				  transform: translate(-50%, -50%);
				  color: #fff;  
}
/* .white_box a{
    background: rgba(225, 243, 249) 20%;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    height: 50px;
    width: 110px;
    line-height: 60px;
    margin: 25px 25px;
    text-align: center;
    border-radius: 6px;
    transition: all 0.3s ease 0s;*/


.blue-box a:hover {
  					background: #E1F3F9;
}


/*^^^*/

.slick-carousel {
					width: 100%;
					margin: 0 auto;
}

.slick-arrow {
					display: none;
}


.first{   
	               margin-bottom:10px; 
}
#about {
					background-image: url(../images/about.jpg);					
					color:#000; 					
					background-repeat: no-repeat;
		}

.second {
					/*background: url(../images/AR-Bek0037small2.jpg);*/
					background-repeat: no-repeat;
					background-color: #e2f4f9;

}


/*.box{
	      
	       padding: 70px;
	       margin-right: 19px;
	       width: 500px;
	       float: right;	 	       

}*/
.grey {	 
			background-color: #E1F3F9;
			color: #0E0D01;
			transition: transform 0.3s,background-color 0.3s;


	}
	 
    

#button  {
			width: 200px;
			text-align: center;
			display: block;
			margin: 0px auto;
			border-radius:6px; 
			padding: 6px 0; 
			font-weight: bold;
			font-size: 20px;
			text-decoration: none; 
}

#buttonblog  {
			/*width: 200px;*/
			/*text-align: center;*/
			display: block;
			margin: 0px auto;
			border-radius:6px; 
			padding: 6px 0; 
			font-weight: bold;
			font-size: 40px;
			text-decoration: none; 
			color: #000;
}
/*second section*/

.box2{
	       /*background: #E1F3F9;*/
	       padding: 70px;
	       margin-right: 15px;
	       width: 500px;
	       	 	
	       float: left;	 	       
	      /* opacity: 0.5;*/
	       /*overflow: hidden;*/
}






.col-pad{
						padding-bottom: 15px;
						padding-top: 15px;
}

.videoWrapper {			
						position: relative;
						padding-bottom: 56.25%; /* 16:9 */
						padding-top: 25px;
						height: 0;
}
.videoWrapper iframe {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
}

/*scroll horizontal */
#wrapper { 
				        background:#fff; 
				        /*box-shadow: 1px 1px 10px #999;*/ 
				        /*margin: auto; */
				        text-align: center; 
				        position: relative;
				        -webkit-border-radius: 5px;
				        -moz-border-radius: 5px;
				        border-radius: 5px;
				        margin-bottom: 5px;
				        width: 100%;
				        /*float: right;*/
				        /*margin-right: 30px;*/
				        /*padding: 15px;*/
    }
.scrolls { 
		        overflow-x: scroll;
		        overflow-y: hidden;
		        height: 100%;
				white-space:nowrap
    } 
.scrolls img { 
		    	/*-webkit-border-radius: 5px;*/
		        box-shadow: 1px 1px 10px #999; 
		        margin: 2px;
		        max-height: 100%;
		        cursor: pointer;
			    display:inline-block;
			    *display:inline;
			    *zoom:1;
			    vertical-align:top;
    }

/*portifolio*/
#middlerow{
			margin-left: 45px;
			margin-right: 45px;
}

.image{
		position: relative;
}

.image h2{
			position: absolute;
			width: 20%;
			top:364px;
			left: 470px;
			border-radius: 5px;
			text-align: center;
			font-family: 'Open Sans Condensed', sans-serif;
			font-size:35px;
			background: rgba(224,224,224,0.63);
}

.image i{
			position: absolute;
			width: 20%;
			
			right: -389px;
			border-radius: 5px;
			text-align: center;
			font-size:35px;
			background: rgba(224,224,224,0.63);
}
/*/---js-botton---*/
 #panel, #flip {
					/*width: 900px;*/
    				padding: 5px;
    				/*margin-right: 30px;*/
    				/*float: left;*/
    				text-align: center;
    				color: #EAF7F9;  
					/*background-color: #e5eecc;*/
    				/*border: solid 1px #c3c3c3;*/
}

#panel {
		   			 
    		 display: none;
}

 /*Google maps*/
#maps {
					
					height: 450px
					border:0px;
	   }

.tird{	
					background-color: black;
					/*align-content: center;*/
					margin-bottom: 5px;
	}
#portfolio img{
					margin: 5px;					
			  }




/*---footer----*/



footer {
				    background: black;
				    color: white;		
					width: 100%;
					height: 161px;
					text-decoration: none;
					margin: auto;			   
}

#footer {

			overflow-x: visible;
			-webkit-overflow-scrolling: touch;
			border-top: 1px solid transparent;
			/*-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);*/
			/*box-shadow: inset 0 0px 0 rgba(255,255,255,.1);*/
}
#footer1 {

		    overflow-x: visible;
		    -webkit-overflow-scrolling: touch;
		    border-top: 1px solid transparent;
		   /* -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);*/
		    /*box-shadow: inset 0 1px 0 rgba(255,255,255,.1);*/
		    background: #000;
}





.aus p{
	
	    			text-align: center;
	    			margin-top: 30px;
}


#social {
			overflow: hidden;
			/*background-color: #000;
			width: 900px;
			*/

}

.socialicon{		
					 padding: 10px;
	                 width: 250px;	                 
	                 float: right;
	                 display: flex;
				     justify-content:space-between;	                 
	        } 

ul li{
					display: flex;
					justify-content:space-between;

      }
.socialicon img{
					padding: 10px;
					margin-right: 30px;

                }






/*page contact us*/
#contact1{
					background-image: url(../images/AR0047.jpg);
					border-radius: 7px;
					/*padding: 10px;*/
					margin-bottom: 12px;
					color:#000; 
		}

button{ 
					border-radius: 7px; 
	   }     

textarea {
			resize: none;
			width: 100%;
		 }


.logo{
		width: 10%;
}



/*new section scroll horizontal*/


.carousel img {
  width:100%;

  padding-top: 10px;
  padding-bottom: 10px;
  
}
.slide {
  position:relative;
}
.holder {
  position:absolute;
  top:0;
  left:0;
  width:100%;
/*   border:solid 1px red; */
  height:100%;
  z-index:99;
  display:flex;
  flex-direction:column;
/*   align-item:flex-end; */
  text-align:center;
  padding:40px;
}
.holder p {
  font-size:30px;
  font-weight:bold;
}
.s01 p {
    margin:0 auto auto auto;
}
.s02 p {
    margin:auto auto 0;
}
.s03 p {
    margin:auto auto auto 0;
}



/*---------- Slick Slider Arrows Dots Styling ----------*/

/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
/* The Bootstrap FontAwesome is loaded and utalised for icons */


/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    /*left: 15px;*/
    z-index: 999;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}
.slick-prev:before,
.slick-next:before {
    font-family: 'FontAwesome';
    font-size: 40px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev{
    left: 13px;
}
[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}
.slick-prev:before {
    content: '\f137';
}
[dir='rtl'] .slick-prev:before {
    content: '\f138';
}
.slick-next{
    right: 25px;
}
[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}
.slick-next:before{
    content: '\f138';
}
[dir='rtl'] .slick-next:before {
    content: '\f137';
}
/* Dots */
.slick-slider{
    margin-bottom: 30px;
}
.slick-dots{
    position: absolute;
    /*bottom: -45px;*/
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    font-family: 'FontAwesome';
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}








